<font size=6><b>
    
NYC Taxi Data download, subset and transfer to Postgres

</b></font>

<font size=3>

What's in this Notebook?
    
<p>

</p>

- **NYC Taxi data download and file format change**: through `gsutil` and bash 

<p>

</p>

- **Data brief inspection and column selection**: select columns for the particular use case
<p>

</p>

- **Data read and transfer**: to the Postgres database

# Download the NYC Taxi trip dataset

<font size=3> 
    
Download the .zip file using [gsutil](https://cloud.google.com/storage/docs/gsutil) tool

In [1]:
!gsutil cp gs://hiring-test/data.zip .

Copying gs://hiring-test/data.zip...
\ [1 files][  1.4 GiB/  1.4 GiB]    3.2 MiB/s
Operation completed over 1 objects/1.4 GiB.

<font size=3> 
    
Unzip the file and change the file format of each corresponding file part

In [2]:
!unzip data.zip

Archive:  data.zip
   creating: data/
  inflating: data/yellow_tripdata_2015-07_00
  inflating: data/yellow_tripdata_2015-01_00
  inflating: data/yellow_tripdata_2015-01_01
  inflating: data/yellow_tripdata_2015-01_02
  inflating: data/yellow_tripdata_2015-01_03
  inflating: data/yellow_tripdata_2015-01_04
  inflating: data/yellow_tripdata_2015-01_05
  inflating: data/yellow_tripdata_2015-01_06
  inflating: data/yellow_tripdata_2015-01_07
  inflating: data/yellow_tripdata_2015-01_08
  inflating: data/yellow_tripdata_2015-01_09
  inflating: data/yellow_tripdata_2015-01_10
  inflating: data/yellow_tripdata_2015-01_11
  inflating: data/yellow_tripdata_2015-01_12
  inflating: data/yellow_tripdata_2015-01_13
  inflating: data/yellow_tripdata_2015-01_14
  inflating: data/yellow_tripdata_2015-01_15
  inflating: data/yellow_tripdata_2015-01_16
  inflating: data/yellow_tripdata_2015-01_17
  inflating: data/yellow_tripdata_2015-01_18
  inflating: data/yellow_tripdata_2015-01_19
  inflating: data/yellow_tripdata_2015-01_20
  inflating: data/yellow_tripdata_2015-01_21
  inflating: data/yellow_tripdata_2015-01_22
  inflating: data/yellow_tripdata_2015-01_23
  inflating: data/yellow_tripdata_2015-01_24
  inflating: data/yellow_tripdata_2015-01_25
  inflating: data/yellow_tripdata_2015-04_00
  inflating: data/yellow_tripdata_2015-04_01
  inflating: data/yellow_tripdata_2015-04_02
  inflating: data/yellow_tripdata_2015-04_03
  inflating: data/yellow_tripdata_2015-04_04
  inflating: data/yellow_tripdata_2015-04_05
  inflating: data/yellow_tripdata_2015-04_06
  inflating: data/yellow_tripdata_2015-04_07
  inflating: data/yellow_tripdata_2015-04_08
  inflating: data/yellow_tripdata_2015-04_09
  inflating: data/yellow_tripdata_2015-04_10
  inflating: data/yellow_tripdata_2015-04_11
  inflating: data/yellow_tripdata_2015-04_12
  inflating: data/yellow_tripdata_2015-04_13
  inflating: data/yellow_tripdata_2015-04_14
  inflating: data/yellow_tripdata_2015-04_15
  inflating: data/yellow_tripdata_2015-04_16
  inflating: data/yellow_tripdata_2015-04_17
  inflating: data/yellow_tripdata_2015-04_18
  inflating: data/yellow_tripdata_2015-04_19
  inflating: data/yellow_tripdata_2015-04_20
  inflating: data/yellow_tripdata_2015-04_21
  inflating: data/yellow_tripdata_2015-04_22
  inflating: data/yellow_tripdata_2015-04_23
  inflating: data/yellow_tripdata_2015-04_24
  inflating: data/yellow_tripdata_2015-04_25
  inflating: data/yellow_tripdata_2015-04_26
  inflating: data/yellow_tripdata_2015-07_01
  inflating: data/yellow_tripdata_2015-07_02
  inflating: data/yellow_tripdata_2015-07_03
  inflating: data/yellow_tripdata_2015-07_04
  inflating: data/yellow_tripdata_2015-07_05
  inflating: data/yellow_tripdata_2015-07_06
  inflating: data/yellow_tripdata_2015-07_07
  inflating: data/yellow_tripdata_2015-07_08
  inflating: data/yellow_tripdata_2015-07_09
  inflating: data/yellow_tripdata_2015-07_10
  inflating: data/yellow_tripdata_2015-07_11
  inflating: data/yellow_tripdata_2015-07_12
  inflating: data/yellow_tripdata_2015-07_13
  inflating: data/yellow_tripdata_2015-07_14
  inflating: data/yellow_tripdata_2015-07_15
  inflating: data/yellow_tripdata_2015-07_16
  inflating: data/yellow_tripdata_2015-07_17
  inflating: data/yellow_tripdata_2015-07_18
  inflating: data/yellow_tripdata_2015-07_19
  inflating: data/yellow_tripdata_2015-07_20
  inflating: data/yellow_tripdata_2015-07_21
  inflating: data/yellow_tripdata_2015-07_22
  inflating: data/yellow_tripdata_2015-07_23

In [3]:
# For each file in the data directory, change it's name and save them in .csv format

!for f in data/*; do mv -- "$f" "${f%}.csv"; done

# Data brief inspection and column selection

In [4]:
# Imports

import glob
import numpy as np
import pandas as pd
import geopandas as gpd
import cartoframes

In [5]:
# Inspect first file with header to get familiarized with the data

df = pd.read_csv('data/yellow_tripdata_2015-01_00.csv')

In [6]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30

In [7]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RateCodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount'],
      dtype='object')

<font size=3>

Given that our target is to understand how demographic and socio-economic factors drive the number of pickups by block group in NYC, we'll keep only the **pickup date** (to compute average per day) and **pickup location** (longitude and latitude)

# Data read and transfer process

<font size=3>

The ETL process will consist on the following steps,
    
<p></p><p></p><p></p>
    
- Creating a table in the Postgres database with the corresponding data types
    
<p></p><p></p><p></p>

- Subsetting the data, keeping the desired columns
    
<p></p><p></p><p></p>

- Cleaning it by removing the header lines

<p></p><p></p><p></p>    

>**NOTE:** Geospatial out-of-bounds records are not filtered at this point as these would be discarded later when performing geospatial operations

<font size=3>
    
For this purpose, a combination of Python packages, Unix tools and [Miller](https://miller.readthedocs.io/) will be used.

In [8]:
# Imports for database connection

import psycopg2
from sqlalchemy import create_engine

In [9]:
# Create SQLAlchemy engine to connect to the database using pandas built-in functions

engine = create_engine('postgresql+psycopg2://postgres:postgres@postgres/postgres')

In [10]:
# Subset the dataframe, using only the desired columns and 0 records to create a table with the data structure in pg

subset_df = df[['tpep_pickup_datetime', 'pickup_longitude', 'pickup_latitude']][:0]

# Change if_exists to 'replace' if you'd like to overwrite the table 

subset_df.to_sql(name='nyc_taxi_sub_second', schema='mmoncada', con=engine, index=False, if_exists='fail')

In [11]:
# Check that the operation performed successfully

df_test = pd.read_sql(sql="""SELECT * FROM mmoncada.nyc_taxi_sub_second""", con=engine)

df_test.head()

Empty DataFrame
Columns: [tpep_pickup_datetime, pickup_longitude, pickup_latitude]
Index: []

In [12]:
# Save the header in another CSV file (only if needed anytime)

!head -n 1 data/yellow_tripdata_2015-01_00.csv > header.csv

In [13]:
# Remove the header from each first file (files ending in _00 start with header)

!sed -i 1d data/*_00.csv

<font size=3>

As an alternative to the steps above, the following miller command could be executed. 
    
<p></p><p></p><p></p>
    
Furthermore, it'd be possible to use this command in combination with `cat` (or similar) to avoid hard-coding the header corresponding value

In [14]:
# Remove any header row values -- Alternative (probably better) to the above

#!mlr --csv --implicit-csv-header --headerless-csv-output filter -x '$1=="tpep_pickup_datetime"' complete_yellow_data.csv > complete_yellow_data_clean.csv

In [15]:
# Remove the undesired columns (keep tpep_pickup_datetime, pickup_longitude, pickup_latitude) and append to a csv file
!mlr --csv --implicit-csv-header --headerless-csv-output cut -f 2,6,7 data/yellow*.csv >> complete_yellow_data.csv

In [16]:
# Check there are no lines containing tpep_pickup_datetime (as header lines would)

!cat complete_yellow_data.csv | grep -in tpep_pickup_datetime

<font size=3>
    
Once we've subset the data and confirmed that there are no headers within, we'll use PostgreSQL [COPY](https://www.postgresql.org/docs/12/sql-copy.html) from command for data transfer

In [17]:
# Define the parameters to connect to the PostgreSQL database

param_dict = {
    "host": "postgres",
    "database": "postgres",
    "user": "postgres",
    "password": "postgres"
}

In [18]:
# Connect to PostgreSQL database using psycopg2

con = psycopg2.connect(**param_dict)

In [19]:
def copy_from_file(con, file_path, table):
    """
    Function that uses PostgreSQL COPY from to transfer data from a CSV file to the database
    args:
        con: connection to database (psycopg2 connection)
        file_path: file path for the target CSV file
        table: schema and table name in the format schema.table_name (str)
    """
    cursor = con.cursor()
    file = open(file_path, 'r')
    try:
        cursor.copy_from(file, table, sep=",")
        con.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print(f"Some error has ocurred: {error}")
        con.rollback()
        cursor.close()
    cursor.close()

In [20]:
%%time
copy_from_file(con=con, file_path='complete_yellow_data.csv', table='mmoncada.nyc_taxi_sub_second')

CPU times: user 12.4 s, sys: 7.74 s, total: 20.1 s
Wall time: 1min 43s

# Process the resulting table in Postgres

<font size=3>
    
After creating the table, a new column has been created as the table's primary key
    
<p></p><p></p><p></p>
    
<font size=3>

Afterwards, a geometry column has been created in the `nyc_taxi_sub` table and the contents have been filled using PostGIS [`ST_Point`](https://postgis.net/docs/ST_Point.html) function, in addition, a spatial index has been added to speed up geospatial operations used later

```sql
ALTER TABLE nyc_taxi_sub ADD COLUMN id SERIAL PRIMARY KEY;
```

```sql
SELECT AddGeometryColumn('mmoncada','nyc_taxi_sub','the_geom',4326,'POINT',2);
```

```sql
UPDATE nyc_taxi_sub SET the_geom = ST_SetSRID(ST_Point(pickup_longitude, pickup_latitude), 4326);
```

<font size=3>
    
A new column, `date_pickup` has been created and populated with the first 10 characters of `tpep_pickup_datetime`
    
<p></p><p></p><p></p>

```sql
ALTER TABLE nyc_taxi_sub ADD COLUMN date_pickup VARCHAR;
```

```sql
UPDATE nyc_taxi_sub SET date_pickup = LEFT(tpep_pickup_datetime, 10);
```

# Merging data based on spatial relationship

```sql
CREATE TABLE taxi_block AS (

	SELECT 
		COUNT(taxi.id) as number_pickups, 
		block.geoid, 
		block.do_label 
	FROM 
		nyc_taxi_sub taxi, 
		do_sync_usa_acs_demographics_sociodemographics_usa_blockgroup_2 block 
	WHERE 
		ST_Intersects(taxi.the_geom, block.the_geom) 
	GROUP BY block.geoid, block.do_label
); 
```

<font size=4><b>


Access the next Notebook, [`3 - ESDA data merged`](3%20-%20ESDA%20data%20merged.ipynb)

</font>